<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form method="post" enctype="multipart/form-data" class="input_photo">
    {% csrf_token %}
    {{ form }}
    <button type="submit" id="photo_btn">ОтправитьОтправитьОтправитьОтправитьОтправитьОтправитьОтправитьОтправитьОтправитьОтправитьОтправитьОтправитьОтправитьОтправитьОтправитьОтправитьОтправитьОтправитьОтправитьОтправитьОтправитьОтправитьОтправитьОтправитьОтправитьОтправить</button>
  </form>
  <div>
    {% for image in spec %}
        <img src="{{ image.image.url }}" alt="Image {{ image.id }}">
    {% endfor %}
  </div>

</body>
</html>